.main {
  background-color: lightpink;
  border: 1px solid black;
}

.maxHeight {
  height: 100vh;
}

.btn {
  border: 0;
  padding: 0.25rem 0.5rem;
  font-size: large;
  background-color: cadetblue;
  color: white;
  border-radius: 8px;
}
